* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;

}



body {
    /* background-image: url(./images/bg-curvy-mobile.svg), linear-gradient(hsl(218, 28%, 15%) 5%, hsl(218, 28%, 13%) 10%);
    background-repeat: no-repeat;
    background-position: top 6% center; */
    /* background-size: contain; */
    background-color: hsl(218, 28%, 13%);
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
    margin: 0;
    position: relative;
}

header {
    /* background-color: hsl(218, 28%, 15%); */

    background: linear-gradient(0deg, hsl(218, 28%, 13%) 50%, hsl(218, 28%, 15%) 100%);
    background-image: url(./images/bg-curvy-mobile.svg), linear-gradient(hsl(218, 28%, 15%) 32%, hsl(218, 28%, 13%));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;

}

/* general styles */

header,
main,
footer {
    padding: 1.2em 1.6em;
}

/* typography */

h1,
h2,
nav,
button {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.6;
}

h2 {
    font-size: 1.8rem;
}

.info,
.features,
form {
    text-align: center;
}

p,
li,
div {
    line-height: 1.6;
}



/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    display: block;
    width: 90px;
}

nav ul {
    display: flex;
    gap: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

nav ul a:hover {
    text-decoration: underline;
    font-weight: 700;
}

/* main */
main {
    display: flex;
    flex-direction: column;
}

.info img,
.stay-productive img {
    width: 100%;
}

.stay-productive a img {
    width: auto;
}

/* info section */
.info {
    padding: 1.8em;
}

.info button {
    margin-top: 1.4em;
    width: 85%;
}

/* features section */
.features {
    display: grid;
    gap: 3.5em;
    margin: 2em 0;
}

.feature {
    padding: 1em .5em;
}

.feature img {
    width: 55px;
}

.feature h2 {
    margin-bottom: .4em;
    margin-top: 1.2em;
}

.feature p {
    margin-top: .4em;
}

/* stay productive section */

.stay-productive {
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* .stay-productive h2 {
    margin-top: 3em;
} */

.stay-productive a {
    color: hsl(176, 68%, 64%);
    padding-bottom: .5em;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    text-decoration: none;
    font-size: 1.3rem;
}

.stay-productive a:hover {
    border-bottom: none;
}

.stay-productive a img {
    position: relative;
    top: .2em;
    left: .1em;
}

/* testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 12em;
    position: relative;
    padding: 1em;
}

.testimonials img {
    position: absolute;
    top: -0.7em;
    left: 1.5em;
    width: 35px;
}

.testimonial {
    background-color: hsl(219, 30%, 18%);
    font-size: 1.2rem;
    padding: 1.4em;
    z-index: 2;
    border-radius: 5px;
}

.testimonial p {
    line-height: 1.8;
}

.testimonial div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.testimonial img {
    position: static;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 1;
}

.testimonial div p {
    font-weight: 700;
}

.testimonial div p span {
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    bottom: .2em;
}

/* form */
form {
    background-color: hsl(217, 28%, 15%);
    padding: 2em 1.9em;
    position: relative;
    top: 14em;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: column;
}

form div {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-self: center;
    width: 100%;
}

form h2 {
    margin-bottom: 1.2em;
}

input,
button {
    appearance: none;
    width: 100%;
    padding: 1.2em 2em;
    border-radius: 40px;
    font: inherit;
    border: none;
}

/* input {
    margin-bottom: 2em;
    margin-top: 1.5em;
} */

/* error message */
.error {
    position: absolute;
    font-size: 1rem;
    bottom: 2em;
    left: 12em;
    color: hsl(0, 100%, 63%);
    visibility: hidden;
}

input:invalid+.error {
    visibility: visible;
}


button {
    background-color: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: hsl(176, 68%, 64%);
}


/* footer */
footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 18em;
    line-height: 1.8;

}

.footer-content div {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

footer div img {
    align-self: flex-start;
    position: relative;
    top: .4em;
    width: 15px;
}

footer div p {
    margin: 0;
    padding-right: 1.8em;
}

.footer-content .phone-email {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.phone-email div {
    margin: 0;
}

footer ul {
    margin-top: 2em;
}

.about-links {
    margin-top: 5em;
}

footer li {
    line-height: 2.4;
}

footer ul a:hover {
    font-weight: 700;
}

.footer-content .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 5em;
}

.social-links a {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: .3em .5em;
}

.social-links a:hover {
    border-color: hsl(176, 68%, 64%);
}

ion-icon {
    color: hsl(0, 0%, 100%);
    width: 20px;
    height: 20px;
    position: relative;
    top: .2em;
}

ion-icon:hover {
    color: hsl(176, 68%, 64%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1.5em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* media queries */
@media screen and (min-width: 770px) {

    .info img,
    .stay-productive img {
        width: auto;
    }

    .info button {
        width: 38%;
    }

    form {
        padding: 2.5em;
    }

    form h2 {
        font-size: 3rem;
        margin: .5em 0;
    }

    form p {
        padding: 0 3em;
    }

    form div {
        flex-direction: row;
        width: 90%;
        margin-bottom: .6em;
    }

    form input {
        width: auto;
        flex: 60%;
    }

    form button {
        width: auto;
    }
}

@media screen and (min-width: 1200px) {
    /* body {} */

    p {
        font-size: 1.6rem;
    }

    header {
        background-image: url(./images/bg-curvy-desktop.svg);
        background-position: bottom;
        background-color: hsl(218, 28%, 15%);
        padding: 3em 4em 0 4em;
        margin-bottom: 4em;
    }


    /* nav {
        justify-content: space-around;
    } */

    nav img {
        width: 140px;

    }

    nav ul {
        gap: 4em;
    }

    .info {
        width: 55%;
        align-self: center;
    }

    /* .info img {
        width: auto;
    } */

    h1 {
        font-size: 3.5rem;
    }

    .info p {
        font-size: 1.6rem;
        padding: 0 6em;
    }

    .info button {
        width: 38%;
    }

    main {
        align-items: center;
    }

    .features {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 60%;
        gap: 5em;
    }

    .feature img {
        width: auto;
        height: 70px;
    }

    .features h2 {
        font-size: 2rem;
    }

    .stay-productive {
        flex-direction: row;
        width: 85%;
    }

    .stay-productive img {
        width: auto;
    }

    .stay-productive div {
        align-self: center;
    }

    .stay-productive h2 {
        font-size: 3.5rem;
        line-height: 1.2;
        width: 58%;
    }

    .testimonials {
        width: 85%;
    }

    .testimonial {
        padding: 1.4em 2.7em .5em 2.7em;
    }

    .testimonial p {
        font-size: 1.4rem;
    }

    .testimonial div p {
        font-size: 1.25rem;
    }

    form {
        width: 60%;
        /* padding: ; */
    }

    form p {
        font-size: 1.4rem;
    }

    footer {
        padding-left: 6em;
        padding-right: 3em;
    }

    .logo {
        margin-bottom: 2em;
    }

    .footer-content {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr 1fr 2fr;
        gap: 3em;
    }

    .footer-content div,
    .footer-content .phone-email {
        margin-top: 0;
    }

    footer div p {
        padding: 0;
    }

    .about-links,
    footer ul {
        margin: 0
    }

    .footer-content .social-links {
        margin: 0;
        height: fit-content;
    }

    .attribution {
        margin-top: 6em;
    }


}

@media screen and (min-width: 1050px) {
    .testimonials {
        flex-direction: row;
    }
}