* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;

}



body {
    background-color: hsl(218, 28%, 13%);
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

header {
    background-color: hsl(217, 28%, 15%);
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

}

/* general styles */

header,
main,
footer {
    padding: .5em;
}

/* typography */

h1,
h2,
nav {
    font-family: 'Raleway', sans-serif;
}

.info,
.features,
form {
    text-align: center;
}

/* images */

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    display: block;
    width: 30%;
}

nav ul {
    display: flex;
    gap: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.info img,
.stay-productive img {
    width: 100%;
}

.stay-productive a img {
    width: auto;
}

/* info section */


/* features section */

/* testimonials */

/* stay productive section */

/* form */

/* footer */
footer {
    background-color: hsl(216, 53%, 9%);
}

ion-icon {
    color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}