* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;

}



body {
    background-color: hsl(218, 28%, 13%);
    font-size: 1.4rem;
    color: hsl(0, 0%, 100%);
    margin: 0;
}

header {
    /* background-color: hsl(218, 28%, 15%); */

    /* background: linear-gradient(0deg, hsl(218, 28%, 13%) 50%, hsl(218, 28%, 15%) 100%); */
    background-image: url(./images/bg-curvy-desktop.svg), linear-gradient(hsl(218, 28%, 15%) 32%, hsl(218, 28%, 13%));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

/* general styles */

header,
main,
footer {
    padding: 1.2em 1.6em;
}



/* typography */

h1,
h2,
nav,
button {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 2.2rem;
    line-height: 1.6;
}

h2 {
    font-size: 1.8rem;
}

.info,
.features,
form {
    text-align: center;
}

p,
li,
div {
    line-height: 1.6;
}

/* images */

.feature img {
    width: 55px;
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    display: block;
    width: 30%;
}

nav ul {
    display: flex;
    gap: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

/* main */
/* main {
    padding: 1.2em 1.4em;
} */

.info img,
.stay-productive img {
    width: 100%;
}

.stay-productive a img {
    width: auto;
}

/* info section */
.info {
    padding: 1.8em;
}

.info button {
    margin-top: 1.4em;
    width: 85%;
}

/* features section */
.features {
    display: flex;
    flex-direction: column;
    gap: 3.5em;
    margin: 2em 0;
}

.feature {
    padding: 1em .5em;
}

.feature h2 {
    margin-bottom: .4em;
    margin-top: 1.2em;
}

.feature p {
    margin-top: .4em;
}

/* stay productive section */

.stay-productive {
    margin-top: 8em;
}

.stay-productive h2 {
    margin-top: 3em;
}

.stay-productive a {
    color: hsl(176, 68%, 64%);
    padding-bottom: .5em;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    text-decoration: none;
    font-size: 1.3rem;
}

.stay-productive a:hover {
    border-bottom: none;
}

.stay-productive a img {
    position: relative;
    top: .2em;
    left: .1em;
}

/* testimonials */
.testimonials {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 12em;
    position: relative;
    padding: 1em;
}

.testimonials img {
    position: absolute;
    top: -0.7em;
    left: 1.5em;
    width: 35px;
}

.testimonial {
    background-color: hsl(219, 30%, 18%);
    font-size: 1.2rem;
    padding: 1.4em;
    z-index: 2;
    border-radius: 5px;
}

.testimonial p {
    line-height: 1.8;
}

.testimonial div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.testimonial img {
    position: static;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    z-index: 1;
}

.testimonial div p {
    font-weight: 700;
}

.testimonial div p span {
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    bottom: .2em;
}

/* form */
form {
    background-color: hsl(219, 30%, 18%);
    padding: 2em 1.9em;
    position: relative;
    top: 14em;
    border-radius: 10px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.349);
}

form h2 {
    margin-bottom: 1.2em;
}

input,
button {
    appearance: none;
    width: 100%;
    /* display: block; */
    padding: 1.2em 2em;
    border-radius: 40px;
    font: inherit;
    border: none;
}

input {
    margin-bottom: 2em;
    margin-top: 1.5em;
}

button {
    background-color: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}


/* footer */
footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 18em;
    line-height: 1.8;
}

.contact div {
    display: flex;
    gap: 2em;
    margin-top: 2em;
}

footer div img {
    align-self: flex-start;
    position: relative;
    top: .4em;
    width: 15px;
}

footer div p {
    margin: 0;
    padding-right: 1.8em;
}

footer ul {
    margin-top: 2em;
}

.about-links {
    margin-top: 5em;
}

footer li {
    line-height: 2.4;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 5em;
}

ion-icon {
    color: hsl(0, 0%, 100%);
    width: 20px;
    height: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* media queries */